BasedOnStyle: llvm
Standard: Cpp03
AlignAfterOpenBracket: Align
# AlignArrayOfStructures: Right
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
BreakConstructorInitializersBeforeComma: True
