Checks:
  -clang-analyzer-security.insecureAPI.bzero,
  readability-convert-member-functions-to-static,
  readability-const-return-type,
  readability-identifier-naming,
  readability-make-member-function-const,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-control-flow,
  readability-redundant-member-init,
  readability-else-after-return,
  readability-implicit-bool-conversion,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-prefer-member-initializer,
  llvm-include-order,
  misc-definitions-in-headers,
  misc-unused-parameters,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  bugprone-copy-constructor-init,
  bugprone-virtual-near-miss,
  portability-restrict-system-includes,
  performance-for-range-copy,
  performance-inefficient-vector-operation,
  performance-type-promotion-in-math-fn,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: 'llvm'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
    #
  - key:             readability-identifier-naming.MemberSuffix
    value:           _
    #
  - key:             readability-identifier-naming.ClassMemberSuffix
    value:           _
    # Private __func
  - key:             readability-identifier-naming.PrivateMethodPrefix
    value:           __
    # Private __val_
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           __
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
    # Protected _val_
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           _
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           _
    # LocalVariable
  - key:            readability-identifier-naming.LocalVariableCase
    value:          lower_case
  - key:            readability-identifier-naming.LocalVariablePrefix
    value:          ""
  - key:            readability-identifier-naming.LocalVariableSuffix
    value:          ""