*

!.gitignore
!**/
!*.cpp
!*.hpp
!*.sh
!*.md
!*.yml
!*.html
!*.txt
!*.png
!*.go
!*.mod
!*.sum
!*.conf
!*.drawio.svg
!.clang-format
!.clang-tidy
!.gitkeep
!Makefile
test
!pre-push
memo.md
man
output.txt

googletest/includes/
